{%load static%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up </title>

    <!-- Font Icon -->
    {% comment %} <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet"  href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" class="register-form" id="register-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                {{form.username}}
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                {{form.email}}
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                {{form.password1}}
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                {{form.password2}}
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Sign Up"/>
                            </div>
                            {% for message in messages %} 
                            <p>{{message}}</p>
                            {% endfor %}
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'images/signup-image.jpg' %}" alt="sing up image"></figure>
                        <a href="{% url 'login'%}" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>

           </div>

    <!-- JS -->
    {% comment %} <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script> {% endcomment %}
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
{% comment %} {%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" class="register-form" id="register-form">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            <div class="form-group {% if form.name.errors %}has-error{% endif %}">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="name" id="name" placeholder="Your Name" value="{{ form.username.value }}">
                                {% for error in form.name.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Your Email" value="{{ form.email.value }}">
                                {% for error in form.email.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="form-group {% if form.password.errors %}has-error{% endif %}">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password1" id="password" placeholder="Password" value="{{ form.email.password2 }}">
                                {% for error in form.password.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="form-group {% if form.confirm_password.errors %}has-error{% endif %}">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="password2" id="confirm_password" placeholder="Repeat your password" value="{{ form.email.password2 }}">
                                {% for error in form.confirm_password.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'images/signup-image.jpg' %}" alt="sing up image"></figure>
                        <a href="{% url 'login' %}" class="signup-image-link">I am already a member</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Sing in  Form -->
       
    </div>

    <!-- JS -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html> {% endcomment %}
